{% extends "master.html" %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
    <div class="row justify-content-center align-items-center g-2 mt-3">
        <div class="col-6">
            <h2>Password Reset</h2><br>
            <form method="POST">
                {% csrf_token %}
                <label for"email">Enter Email:</label>
                {{form.email}}
                <br><br>
                <button type="submit" class="btn btn-primary">Request Password Reset</button>
            </form>
        </div>
    </div>
{% endblock content %}