{% extends "master.html" %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <div class="row justify-content-center align-items-center g-2 mt-3">
        <div class="col">
            {% if user.is_authenticated %}
                <h1>Welcome, {{user.username}}!</h1>
            {% else %}
            <div style="display: flex; gap: 25px; margin-left: 25px;">
                <h2>You need to <a href="{% url "login" %}"><button type="button" class="btn btn-primary">login</button></a> first...</h2>
            </div>
            {% endif %}
        </div>
    </div>
        
{% endblock content %}